In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import csv

In [2]:
#Create reference to CSV file
csv_path_people = "../Resources/Traffic_Crashes_-_People.csv"

#Impor the CSV into a pandas DataFrame
df1 = pd.read_csv(csv_path_people, low_memory=False)

In [3]:
#Create reference to CSV file for second file
csv_path_crashes = "../Resources/Traffic_Crashes_-_Crashes.csv"

df2 = pd.read_csv(csv_path_crashes, low_memory=False)

In [4]:
#Create reference to CSV file for 3rd file
csv_path_vehicles = "../Resources/Traffic_Crashes_-_Vehicles.csv"

df3 = pd.read_csv(csv_path_vehicles, low_memory=False)

In [6]:
df1 = df1[['RD_NO', 'PERSON_ID', 'PERSON_TYPE', 'VEHICLE_ID', 'CRASH_DATE',
       'SEAT_NO', 'CITY', 'STATE', 'ZIPCODE', 'SEX', 'AGE',
       'DRIVERS_LICENSE_STATE', 'DRIVERS_LICENSE_CLASS', 'SAFETY_EQUIPMENT',
       'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION', 'HOSPITAL',
       'EMS_AGENCY', 'EMS_RUN_NO', 'DRIVER_ACTION', 'DRIVER_VISION',
       'PHYSICAL_CONDITION', 'PEDPEDAL_ACTION', 'PEDPEDAL_VISIBILITY',
       'PEDPEDAL_LOCATION', 'BAC_RESULT', 'BAC_RESULT VALUE',
       'CELL_PHONE_USE']]
df1.head()

,RD_NO,PERSON_ID,PERSON_TYPE,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,SEX,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,HY368708,O10,DRIVER,10.0,08/04/2015 12:40:00 PM,NaN,CHICAGO,IL,60641,M,...,NaN,FAILED TO YIELD,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,HY374018,O100,DRIVER,96.0,07/31/2015 05:50:00 PM,NaN,ELK GROVE,IL,60007,M,...,NaN,FOLLOWED TOO CLOSELY,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,HY407431,O1000,DRIVER,954.0,09/02/2015 11:45:00 AM,NaN,CHICAGO,IL,NaN,M,...,NaN,UNKNOWN,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,HY484148,O10000,DRIVER,9561.0,10/31/2015 09:30:00 PM,NaN,SKOKIE,IL,60076,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,HZ525619,O100001,DRIVER,96762.0,11/15/2016 05:45:00 PM,NaN,NaN,NaN,NaN,X,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

In [7]:
df3 = df3[['RD_NO', 'CRASH_UNIT_ID', 'CRASH_DATE', 'UNIT_NO', 'UNIT_TYPE',
       'NUM_PASSENGERS', 'VEHICLE_ID', 'CMRC_VEH_I', 'MAKE', 'MODEL',
       'LIC_PLATE_STATE', 'VEHICLE_YEAR', 'VEHICLE_DEFECT', 'VEHICLE_TYPE',
       'VEHICLE_USE', 'TRAVEL_DIRECTION', 'MANEUVER', 'TOWED_I', 'FIRE_I',
       'OCCUPANT_CNT', 'EXCEED_SPEED_LIMIT_I', 'FIRST_CONTACT_POINT']]
df3.head()

,RD_NO,CRASH_UNIT_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,TOWED_I,FIRE_I,OCCUPANT_CNT,EXCEED_SPEED_LIMIT_I,FIRST_CONTACT_POINT
0,JB278428,394092,05/24/2018 04:45:00 PM,2,DRIVER,NaN,379191.0,NaN,DODGE,CHARGER,...,NONE,PASSENGER,PERSONAL,W,STRAIGHT AHEAD,NaN,NaN,1.0,NaN,FRONT-LEFT
1,JB278428,394093,05/24/2018 04:45:00 PM,1,PARKED,NaN,379180.0,NaN,PONTIAC,G6,...,NONE,UNKNOWN/NA,UNKNOWN/NA,W,PARKED,NaN,NaN,0.0,NaN,SIDE-LEFT
2,JB281663,396094,05/28/2018 12:30:00 AM,1,DRIVER,NaN,380981.0,NaN,VOLKSWAGEN,JETTA,...,UNKNOWN,PASSENGER,UNKNOWN/NA,W,PASSING/OVERTAKING,NaN,NaN,1.0,NaN,SIDE-RIGHT
3,JB281663,396095,05/28/2018 12:30:00 AM,2,DRIVER,1.0,380986.0,NaN,NISSAN,NISSAN MAXIMA,...,NONE,PASSENGER,RIDESHARE SERVICE,W,STRAIGHT AHEAD,NaN,NaN,2.0,NaN,SIDE-LEFT
4,JB283806,396943,05/29/2018 11:30:00 AM,1,DRIVER,NaN,381829.0,NaN,UNKNOWN,UNKNOWN,...,UNKNOWN,UNKNOWN/NA,UNKNOWN/NA,E,STRAIGHT AHEAD,NaN,NaN,1.0,NaN,UNKNOWN

In [8]:
#Merge df1 and df2 with the RD_NO unique identifier
new_df1 = pd.merge(df1, df2, on="RD_NO")
new_df1.head()

,RD_NO,PERSON_ID,PERSON_TYPE,VEHICLE_ID,CRASH_DATE_x,SEAT_NO,CITY,STATE,ZIPCODE,SEX,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,HY368708,O10,DRIVER,10.0,08/04/2015 12:40:00 PM,NaN,CHICAGO,IL,60641,M,...,0.0,0.0,2.0,0.0,12,3,8,41.903416,-87.656037,POINT (-87.65603711678 41.903416088848)
1,HY368708,O11,DRIVER,11.0,08/04/2015 12:40:00 PM,NaN,ORLAND PARK,IL,60462,M,...,0.0,0.0,2.0,0.0,12,3,8,41.903416,-87.656037,POINT (-87.65603711678 41.903416088848)
2,HY374018,O100,DRIVER,96.0,07/31/2015 05:50:00 PM,NaN,ELK GROVE,IL,60007,M,...,0.0,0.0,2.0,0.0,17,6,7,41.848588,-87.618689,POINT (-87.618688565091 41.848587734205)
3,HY374018,O101,DRIVER,97.0,07/31/2015 05:50:00 PM,NaN,PLAINFIELD,IL,60544,M,...,0.0,0.0,2.0,0.0,17,6,7,41.848588,-87.618689,POINT (-87.618688565091 41.848587734205)
4,HY407431,O1000,DRIVER,954.0,09/02/2015 11:45:00 AM,NaN,CHICAGO,IL,NaN,M,...,0.0,0.0,2.0,0.0,11,4,9,41.904034,-87.629923,POINT (-87.629922816094 41.904033653296)

In [9]:
#Merge new_df1 and df3 with the RD_NO unique identifier
traffic_df = pd.merge(new_df1, df3, on="RD_NO")
traffic_df.head()

,RD_NO,PERSON_ID,PERSON_TYPE,VEHICLE_ID_x,CRASH_DATE_x,SEAT_NO,CITY,STATE,ZIPCODE,SEX,...,VEHICLE_DEFECT,VEHICLE_TYPE,VEHICLE_USE,TRAVEL_DIRECTION,MANEUVER,TOWED_I,FIRE_I,OCCUPANT_CNT,EXCEED_SPEED_LIMIT_I,FIRST_CONTACT_POINT
0,HY368708,O10,DRIVER,10.0,08/04/2015 12:40:00 PM,NaN,CHICAGO,IL,60641,M,...,NONE,PASSENGER,PERSONAL,N,TURNING LEFT,NaN,NaN,1.0,NaN,FRONT
1,HY368708,O10,DRIVER,10.0,08/04/2015 12:40:00 PM,NaN,CHICAGO,IL,60641,M,...,NONE,SPORT UTILITY VEHICLE (SUV),PERSONAL,W,STRAIGHT AHEAD,NaN,NaN,1.0,NaN,FRONT-LEFT
2,HY368708,O11,DRIVER,11.0,08/04/2015 12:40:00 PM,NaN,ORLAND PARK,IL,60462,M,...,NONE,PASSENGER,PERSONAL,N,TURNING LEFT,NaN,NaN,1.0,NaN,FRONT
3,HY368708,O11,DRIVER,11.0,08/04/2015 12:40:00 PM,NaN,ORLAND PARK,IL,60462,M,...,NONE,SPORT UTILITY VEHICLE (SUV),PERSONAL,W,STRAIGHT AHEAD,NaN,NaN,1.0,NaN,FRONT-LEFT
4,HY374018,O100,DRIVER,96.0,07/31/2015 05:50:00 PM,NaN,ELK GROVE,IL,60007,M,...,NONE,SPORT UTILITY VEHICLE (SUV),PERSONAL,E,STRAIGHT AHEAD,NaN,NaN,1.0,NaN,FRONT